Repository redhat-developer/app-services-cli, pull requests merged in 2021-08, with the labels that each got.

#894 chore: resolve charmil validator failing tests
  docs/commands/rhoas.adoc
  docs/commands/rhoas_cluster.adoc
  docs/commands/rhoas_completion.adoc
  docs/commands/rhoas_completion_bash.adoc
  docs/commands/rhoas_completion_fish.adoc
  docs/commands/rhoas_completion_zsh.adoc
  docs/commands/rhoas_kafka.adoc
  docs/commands/rhoas_kafka_consumer-group.adoc
  docs/commands/rhoas_kafka_create.adoc
  docs/commands/rhoas_kafka_delete.adoc
  docs/commands/rhoas_kafka_describe.adoc
  docs/commands/rhoas_kafka_list.adoc
  docs/commands/rhoas_kafka_topic.adoc
  docs/commands/rhoas_kafka_use.adoc
  docs/commands/rhoas_logout.adoc
  docs/commands/rhoas_service-account.adoc
  docs/commands/rhoas_service-account_list.adoc
  pkg/cmd/cluster/cluster.go
  pkg/cmd/completion/bash/bash.go
  pkg/cmd/completion/completion.go
  pkg/cmd/completion/fish/fish.go
  pkg/cmd/completion/zsh/zsh.go
  pkg/cmd/kafka/consumergroup/consumergroup.go
  pkg/cmd/kafka/kafka.go
  pkg/cmd/kafka/list/list.go
  pkg/cmd/kafka/topic/topic.go
  pkg/cmd/logout/logout.go
  pkg/cmd/root/validator_test.go
  pkg/cmd/serviceaccount/serviceaccount.go
  pkg/localize/locales/en/cmd/cluster.en.toml
  pkg/localize/locales/en/cmd/completion.en.toml
  pkg/localize/locales/en/cmd/kafka.en.toml
  pkg/localize/locales/en/cmd/kafka_consumergroup.en.toml
  pkg/localize/locales/en/cmd/logout.en.toml
  pkg/localize/locales/en/cmd/serviceaccount.en.toml
  pkg/localize/locales/en/cmd/serviceaccount_list.en.toml
  pkg/localize/locales/en/cmd/topic.en.toml
Labels: documentation

#946 fix!: remove positional arguments for artifact commands
  pkg/cmd/registry/artifact/artifacts.go
  pkg/cmd/registry/artifact/crud/create/create.go
  pkg/cmd/registry/artifact/crud/delete/delete.go
  pkg/cmd/registry/artifact/crud/get/get.go
  pkg/cmd/registry/artifact/crud/list/list.go
  pkg/cmd/registry/artifact/crud/update/update.go
  pkg/cmd/registry/artifact/download/download.go
  pkg/cmd/registry/artifact/metadata/metadata.go
  pkg/cmd/registry/artifact/versions/versions.go
Labels: requires-release

#981 metadata commands
  pkg/cmd/registry/artifact/artifacts.go
  pkg/cmd/registry/artifact/crud/create/create.go
  pkg/cmd/registry/artifact/crud/update/update.go
  pkg/cmd/registry/artifact/metadata/get.go
  pkg/cmd/registry/artifact/metadata/set.go
  pkg/editor/editor.go
  pkg/editor/linux.go
  pkg/editor/windows.go
Labels: windows-verification
